.textStyle{
    font-family:'Josefin Sans',
    sans-serif;
}

input{
    border:none;
    border-bottom: 2px solid lightslategrey;
    font-size: 20px;
      font-family: 'Lora',
      serif;
      color:rgb(10, 7, 7)
}

input:focus{
    color:rgb(10, 7, 7);
    
    outline:none;
}

input::placeholder {
    color:rgb(116, 113, 113)

}